body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(203, 52, 181), rgb(68, 166, 187));
}

.box-container {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 50px;
  background-color: rgb(255, 255, 255, .2);
  position: relative;
  bottom: 700px;
}

.inner-text-box {
  position: relative;
  bottom: 30px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF;
  font-size: 100px;         
}

h2 {
  text-align: center;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF;
}

.header {
  position: relative;
  bottom: 750px;
}

.input {
  text-align: center;
}

.button {
  text-align: center;
}

p {
  text-align: center;
}